body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-image: url('https://images.unsplash.com/photo-1614292264554-7dca1d6466d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.memecard {
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
  max-width: 60%; 
  height: auto;
}



img.meme-photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 80px; 
}
h4{
  text-align: center;
  color: #3afe16;
  font-size: larger;
  
}

img {
  background-color: #c2fbd7;
  border-radius: 10px;
  box-shadow: rgba(44, 187, 99, 5) 0 -30px 1px -14px inset,rgba(44, 187, 99, .15) 0 5px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #3afe16;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
}



.delete {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 10px 12px 20px; 
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.edit {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 10px 12px 20px; 
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

nav {
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 10px 20px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; 
  align-items: center;
}

nav li {
  margin: 0 10px; 
  align-items: center;
}

nav a {
  display: block;
  padding: 10px 20px; 
  border-radius: 5px; 
  background-color: #333; 
  color: #fff; 
  text-decoration: none;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #555; 
}

nav a.active {
  background-color: #555; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 10px;
  font-size: 50px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #fff;
}

label > span {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: large;
}

button:hover {
  background-color: #444;
  color: #fff;
}

.profiles-container {
  color: #fff; 
  padding: 20px;
  font-size: 40px;
}

.profiles-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.profiles-container p {
  margin: 10px 0;
}

input.oldpassword {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.changepassword {
  color: black;
}

.changepasswordheader {
  color: #3afe16;
  font-size: 50px;
}